<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>ok</header>
    <div>Thông báo về việc tham gia BHYT CHO SINH VIÊN K45
        [15/12/2021 15:04]
        
        Do tình hình dịch bệnh Covid 19 đang diễn biễn phức tạp nên sinh viên đóng tiền Bảo hiểm y tế năm 2022( từ tháng 1/2022-12/2022) theo phương thức chuyển khoản:
        
        THÔNG BÁO SINH VIÊN BỔ SUNG SỐ TÀI KHOẢN Kinh phí trợ cấp xã hội cho SV hệ chính quy từ tháng 7 năm 2021 đến tháng 12 năm 2021
        [15/12/2021 10:18]
        
        Hiện tại còn một số bạn sinh viên có trong danh sách nhận kinh phí trợ cấp xã hội nhưng chưa có số tài khoản ở trường. Đề nghị các bạn bổ sung sớm cho Nhà trường tổng hợp danh sách để kịp thời chuyển khoản cho các bạn nhé. Nếu có vấn đề phát sinh cần được hỗ trợ vui lòng liên hệ số điện thoại: 02343. 822815( trong giờ hành chính gặp cô Nhung) để được hướng dẫn cụ thể.
        
        THÔNG BÁO VỀ VIỆC SINH VIÊN K45 NỘP HỌC PHÍ KHÔNG GHI NỘI DUNG CHUYỂN KHOẢN
        [15/12/2021 08:14]
        
        Hiện tại do tình hình dịch bệnh đang diễn biến phức tạp nên Nhà trường hỗ trợ các bạn sinh viên Khóa 45 nộp học phí chuyển khoản như sau:
        
        Quyết định xóa tên trong danh sách miễn giảm và cấp bổ sung kinh phí miễn giảm cho sinh viên hệ chính quy
        [14/12/2021 10:48]
        
        Chi tiết sinh viên xem tại nội dung đính kèm sau:
        
        Quyết định về việc bổ sung hỗ trợ chi phí học tập cho sinh viên hệ chính quy thuộc đối tượng người dân tộc thiểu số thuộc hộ nghèo/cận nghèo năm 2021
        [14/12/2021 10:45]
        
        Chi tiết sinh viên xem tại nội dung đính kèm sau:
        
        Quyết định cấp bổ sung kinh phí trợ cấp xã hội cho sinh viên hệ chính quy từ tháng 07 đến tháng 12 năm 2021
        [14/12/2021 10:43]
        
        Chi tiết sinh viên xem tại nội dung đính kèm sau:
        
        Thông báo về việc điều chỉnh lịch thi kết thúc học phần học kỳ 1, năm học 2021-2022</div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>